<button routerLink="/works/add" class="ui green inverted button">
  Add an new Work
</button>
<table class="ui inverted blue table">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Project Name</th>
      <th>Job</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let work of works">
      <td>{{ work.employeeName }}</td>
      <td>{{ work.projectName }}</td>
      <td>{{ work.job }}</td>
      <td>{{ work.enter_Date }}</td>

      <td>
        <a
          [routerLink]="'/works/edit/' + work.empNo + '/' + work.projectNo"
          class="ui inverted button mini"
          >Update</a
        >
        |
        <a
          (click)="onDelete(work.empNo, work.projectNo)"
          class="ui inverted button mini"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
