<div class="ui inverted menu">
  <ng-container *ngIf="isAuth">
    <a routerLinkActive="active" routerLink="employees" class="item red"
      >Employees</a
    >
    <a routerLinkActive="active" routerLink="departments" class="item red"
      >Departments</a
    >
    <a routerLinkActive="active" routerLink="projects" class="item red"
      >Projects</a
    >
    <a routerLinkActive="active" routerLink="works" class="item red">Works</a>
  </ng-container>
  <div class="right menu">
    <ng-container *ngIf="!isAuth">
      <a routerLink="signup" class="item">Sign Up</a>
      <a routerLink="login" class="item">Log In</a>
    </ng-container>
    <ng-container *ngIf="isAuth">
      <a (click)="onClick()" class="item">Log out</a>
    </ng-container>
  </div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
